.player-button {
  margin: 5px;
}

.recording-play-button {
  border-radius: 12px;
  text-align: start;
  display: flex;
  align-items: center;
}

#recordings-container {
  height: 500px;
  overflow: auto;
}